@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600&display=swap');

/* Pitulec */

* {
    margin: 0;
    padding: 0;
    font-size: 1vw;
    color: white;
    font-family: Poppins, sans-serif;
    overflow: hidden;
}

.notify-container {
    display: flex;
    flex-direction: column;
    gap: 1vw;
    position: absolute;
    width: 15vw;
    top: 1vw;
    right: 2vw;
    height: 80%;
}

.notify {
    position: relative;
    gap: 1vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.7vw;
    border-radius: 0.5vw;
    background-color: rgba(11, 11, 11, 0.9);
    backdrop-filter: blur(0.3vw);
    right: -20vw;
}

.header {
    font-weight: bold;
    font-size: 0.9vw;
}

.desc {
    font-size: 0.8vw;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: full;
    margin: 0 4px;
    aspect-ratio: 1; /* square */
    border-radius: 0.5vw;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 0.5vw;
}